<div class="w-[1152px] mx-auto  pt-[100px]">
  <app-header></app-header>
  <div class="container">
    <section class="row11 content w-full mb-[58px]">
      <div class="container w-[74%] mx-auto grid grid-cols-2 gap-4" *ngFor="let user of User;">
        <div class="profile grid ">
          <h2 class="font-bold text-[45px]  pt-[49px]">Hi, I am <span
              class="text-[#145db0] text-[50px]">{{user.name}}</span>
          </h2>
          <span class="text-red-500 text-[44px] font-bold ">{{user.position}}</span>
          <span class="mb-[39px] mt-[39px] text-[18px]">
            {{user.about}}
          </span>
          <a href="../../../assets/DaoNgocLinh - WebDeveloper.pdf" download="DaoNgocLinh - WebDeveloper.pdf"> <button
            class="  mb-[20px] bg-[#ff6464] h-[46px] w-[208px] rounded  text-white text-[21px] font-bold shadow-2xl hover:bg-[#9c2525]">Download
            Resume</button></a>
           
        </div>
        <div class="image pt-[40px] ">
          <img src="{{user.image}}" class="ml-[100px] w-[250px] h-auto rounded-[50%] ml-[150px]  " alt="">
        </div>
      </div>
    </section>


    <section class="recent__posts  bg-[#EDF7FA] mb-[25px] ">
      <div class="container w-[75%] mx-auto" >
        <div class="pt-[16px] grid grid-cols-2 mb-[20px]  ">
          <span class="text-[23px] pl-[5px]">Recent posts</span>
          <a routerLink="blog" class="text-[#00A8CC] ml-auto pt-[5px] text-[17px] no-underline ">View all</a>
        </div>

        <div class="box pb-[30px] grid grid-cols-2 gap-4">
          <div class=" bg-white rounded-[5px] w-[500px] h-[295px] ml-[20px]" *ngFor="let post of Posts" >
            <div class=" inline-block p-[20px] px-[26px] grid gap-[23px]">
              <span class="text-[26px] font-bold ">{{post.title}}</span>
              <div class="grid grid-cols-3 ">
                <p class="text-[19px]">{{post.createAt}}</p>
                <p class="w-9 text-[19px] ">|</p>
                <p  class="text-[19px] ml-[-82px] no-underline text-[#21243D]"> {{ post.categoryPostId == 1 ? "post2" : "product 1" }}</p>
              </div>
              <span>{{post.short_desc}}</span>                       
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="project__posts w-full mb-[110px]">
      <div class="container  w-[74%] mx-auto">
        <p class="text-[23px]">Featured works</p>
        <div class="grid grid-rows-2 gap-4 mt-[30px]">
          <div class=" border-b border-inherit " *ngFor="let project of Project">
            <div class="w-[246px] float-left mr-[14px]">
              <img class="w-[246px] h-[180px] object-cover rounded-[20px]"
                src="{{project.image}}" alt="">
            </div>
            <div class="float-right w-[69%] pb-[20px]">
            <a routerLink="work" class="no-underline text-gray-900 hover:text-[#ff6464] delay-[1s]"><p class="text-[29px] font-bold pb-[14px]">{{project.name}}</p></a>  
              <div class="pb-[20px]">
                <button class="rounded-[40px] border bg-[#142850] text-white font-bold w-[64px] text-[18px] ">{{project.createAt}}
                </button>
                <p class="float-right mr-[411px] text-[19px] ">{{project.categoryProjectId }}</p>
              </div>
              <p> {{project.shortDesc}}</p>
            </div>
          </div>

          <!-- <div class=" border-b border-inherit ">
            <div class="w-[246px] float-left mr-[14px]">
              <img class="w-[246px] h-[180px] object-cover rounded-[20px]"
                src="https://res.cloudinary.com/assignment22/image/upload/v1654916693/Ass-reactjs/3_uphrgz.jpg" alt="">
            </div>
            <div class="float-right w-[69%] pb-[20px]">
              <p class="text-[29px] font-bold pb-[14px]">Designing Dashboards</p>
              <div class="pb-[20px]">
                <button class="rounded-[40px] border bg-[#142850] text-white font-bold w-[64px] text-[18px] ">2020
                </button>
                <p class="float-right mr-[411px] text-[19px] ">Dashboard</p>
              </div>
              <p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div> -->

          <!-- <div class=" border-b border-inherit ">
            <div class="w-[246px] float-left mr-[14px]">
              <img class="w-[246px] h-[180px] object-cover rounded-[20px]"
                src="https://res.cloudinary.com/assignment22/image/upload/v1654916693/Ass-reactjs/1_nbbiiz.jpg" alt="">
            </div>
            <div class="float-right w-[69%] pb-[20px]">
              <p class="text-[29px] font-bold pb-[14px]">Designing Dashboards</p>
              <div class="pb-[20px]">
                <button class="rounded-[40px] border bg-[#142850] text-white font-bold w-[64px] text-[18px] ">2020
                </button>
                <p class="float-right mr-[411px] text-[19px] ">Dashboard</p>
              </div>
              <p> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
              </p>
            </div>
          </div> -->

        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>