
  <!-- <header>
    <div class="container">
        <div class="logo">
            <span>Linh</span>
        </div>
        <div class="nav">
            <ul>
              <li class="nav0"><a routerLink="/">Home</a></li>
              <li class="nav1"><a routerLink="/work">Works</a></li>
              <li class="nav2"><a routerLink="/blog">Blog</a></li>
              <li class="nav3"><a routerLink="/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</header> -->
<header>
  <div class="container">
      <div class="logo">
          <h3></h3>
      </div>
      <div class="navbar" id="navbar">
          <ul>
              <li><a routerLink="/" class="nav__link">Home</a></li>
              <li><a routerLink="/work" class="nav__link">Works</a></li>
              <li><a routerLink="/blog" class="nav__link">Blog</a></li>
              <li><a routerLink="/admin" class="nav__link">Admin</a></li>
          </ul>
      </div>
      <div class="nav__toggle" id="nav-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class=" h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
  </div>
</header>